---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/bsboris/metazilla/commits?per_page=100&sha=master&since=2015-07-23T00:00:00%2B00:00&until=2015-07-24T00:00:00%2B00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1439374183'
      Last-Modified:
      - Thu, 23 Jul 2015 13:01:10 GMT
      Etag:
      - W/"ede2dfe26cf54ba18c187d2d881fa2bb"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"996443416d6b3d99fc588898abe4d52e3a024288","commit":{"author":{"name":"bsboris","email":"bsboris@gmail.com","date":"2015-07-23T13:01:10Z"},"committer":{"name":"bsboris","email":"bsboris@gmail.com","date":"2015-07-23T13:01:10Z"},"message":"Bump
        version to 1.2.1","tree":{"sha":"24a507e3fbb5ffe15c5fccaaf3650745e48e8de1","url":"https://api.github.com/repos/bsboris/metazilla/git/trees/24a507e3fbb5ffe15c5fccaaf3650745e48e8de1"},"url":"https://api.github.com/repos/bsboris/metazilla/git/commits/996443416d6b3d99fc588898abe4d52e3a024288","comment_count":0},"url":"https://api.github.com/repos/bsboris/metazilla/commits/996443416d6b3d99fc588898abe4d52e3a024288","html_url":"https://github.com/bsboris/metazilla/commit/996443416d6b3d99fc588898abe4d52e3a024288","comments_url":"https://api.github.com/repos/bsboris/metazilla/commits/996443416d6b3d99fc588898abe4d52e3a024288/comments","author":{"login":"bsboris","id":591230,"avatar_url":"https://avatars.githubusercontent.com/u/591230?v=3","gravatar_id":"","url":"https://api.github.com/users/bsboris","html_url":"https://github.com/bsboris","followers_url":"https://api.github.com/users/bsboris/followers","following_url":"https://api.github.com/users/bsboris/following{/other_user}","gists_url":"https://api.github.com/users/bsboris/gists{/gist_id}","starred_url":"https://api.github.com/users/bsboris/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bsboris/subscriptions","organizations_url":"https://api.github.com/users/bsboris/orgs","repos_url":"https://api.github.com/users/bsboris/repos","events_url":"https://api.github.com/users/bsboris/events{/privacy}","received_events_url":"https://api.github.com/users/bsboris/received_events","type":"User","site_admin":false},"committer":{"login":"bsboris","id":591230,"avatar_url":"https://avatars.githubusercontent.com/u/591230?v=3","gravatar_id":"","url":"https://api.github.com/users/bsboris","html_url":"https://github.com/bsboris","followers_url":"https://api.github.com/users/bsboris/followers","following_url":"https://api.github.com/users/bsboris/following{/other_user}","gists_url":"https://api.github.com/users/bsboris/gists{/gist_id}","starred_url":"https://api.github.com/users/bsboris/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bsboris/subscriptions","organizations_url":"https://api.github.com/users/bsboris/orgs","repos_url":"https://api.github.com/users/bsboris/repos","events_url":"https://api.github.com/users/bsboris/events{/privacy}","received_events_url":"https://api.github.com/users/bsboris/received_events","type":"User","site_admin":false},"parents":[{"sha":"29b35ddffa450c66b70ebf581cb39e0670d0528f","url":"https://api.github.com/repos/bsboris/metazilla/commits/29b35ddffa450c66b70ebf581cb39e0670d0528f","html_url":"https://github.com/bsboris/metazilla/commit/29b35ddffa450c66b70ebf581cb39e0670d0528f"}]},{"sha":"29b35ddffa450c66b70ebf581cb39e0670d0528f","commit":{"author":{"name":"bsboris","email":"bsboris@gmail.com","date":"2015-07-23T13:00:45Z"},"committer":{"name":"bsboris","email":"bsboris@gmail.com","date":"2015-07-23T13:00:45Z"},"message"[...]
